In [1]:
import pandas as pd
import glob
from IPython.display import HTML
import numpy as np
#.reset_index(drop = True)
import sys
import matplotlib.pyplot as plt
#import seaborn as sns
#%matplotlib inline 
pd.options.display.max_colwidth = None
from Clases.ConnMysql import ConnectMySQL
from Clases.CatalogUtility import CatalogUtility

192.168.200.6 dw_qqprm root 3310 root mysql+mysqlconnector://root:root@192.168.200.6:3310/dw_qqprm

In [4]:
path="/ProyectoTx/examenkavak/data/"

In [5]:
files = glob.glob(path + "*", recursive = True)

In [ ]:
files

In [2]:
objConMysql = ConnectMySQL(bd='retail_db_prueba')

192.168.200.6 retail_db_prueba root 3310 root mysql+mysqlconnector://root:root@192.168.200.6:3310/retail_db_prueba

In [ ]:
objConMysql.load_data_chemy(df_catalogo,'CATALOGO')

In [ ]:
db_tbl_name = 'customer'
df_customer = pd.read_csv(files[1],sep='|', header=None, names=["customer_id","customer_fname","customer_lname","customer_email","customer_password","customer_street","customer_city","customer_state","customer_zipcode"])
objConMysql.load_data_chemy(df_customer ,db_tbl_name)

In [ ]:
db_tbl_name = 'orders'
df_orders = pd.read_csv(files[3],sep='|', header=None, names=["order_id","order_date","order_customer_id","order_status"])
objConMysql.load_data_chemy(df_orders ,db_tbl_name)

In [ ]:
db_tbl_name = 'order_items'
df_order_items = pd.read_csv(files[4],sep='|', header=None, names=["order_item_id","order_item_order_id","order_item_product_id","order_item_quantity","order_item_subtotal","order_item_product_price"])
objConMysql.load_data_chemy(df_order_items ,db_tbl_name)

In [ ]:
db_tbl_name = 'departments'
df_departments = pd.read_csv(files[2],sep='|', header=None, names=['department_id', 'department_name'])
objConMysql.load_data_chemy(df_departments ,db_tbl_name)

In [ ]:
db_tbl_name = 'categories'
df_categories = pd.read_csv(files[0],sep='|', header=None, names=["category_id", "category_department_id", "category_name"])
objConMysql.load_data_chemy(df_categories  ,db_tbl_name)

In [9]:
db_tbl_name = 'products'
df_products = pd.read_csv(files[5],sep='|', header=None, names=["product_id","product_category_id","product_name","product_description","product_price","product_image"])
#objConMysql.load_data_chemy(df_products  ,db_tbl_name)

In [12]:
df_products

,product_id,product_category_id,product_name,product_description,product_price,product_image
0,1,2,Quest Q64 10 FT. x 10 FT. Slant Leg Instant U,None,59.98,http://images.acmesports.sports/Quest+Q64+10+FT.+x+10+FT.+Slant+Leg+Instant+Up+Canopy
1,2,2,Under Armour Men's Highlight MC Football Clea,None,129.99,http://images.acmesports.sports/Under+Armour+Men%27s+Highlight+MC+Football+Cleat
2,3,2,Under Armour Men's Renegade D Mid Football Cl,None,89.99,http://images.acmesports.sports/Under+Armour+Men%27s+Renegade+D+Mid+Football+Cleat
3,4,2,Under Armour Men's Renegade D Mid Football Cl,None,89.99,http://images.acmesports.sports/Under+Armour+Men%27s+Renegade+D+Mid+Football+Cleat
4,5,2,Riddell Youth Revolution Speed Custom Footbal,None,199.99,http://images.acmesports.sports/Riddell+Youth+Revolution+Speed+Custom+Football+Helmet
...,...,...,...,...,...,...
1340,1341,59,Nike Women's Cleveland Browns Johnny Football,None,34.00,http://images.acmesports.sports/Nike+Women%27s+Cleveland+Browns+Johnny+Football+Orange+T-Shirt
1341,1342,59,Nike Men's St. Louis Rams Michael Sam #96 Nam,None,32.00,http://images.acmesports.sports/Nike+Men%27s+St.+Louis+Rams+Michael+Sam+%2396+Name+and+Number...
1342,1343,59,Nike Men's Home Game Jersey St. Louis Rams Mi,None,100.00,http://images.acmesports.sports/Nike+Men%27s+Home+Game+Jersey+St.+Louis+Rams+Michael+Sam+%2396
1343,1344,59,Nike Men's Home Game Jersey St. Louis Rams Aa,None,100.00,http://images.acmesports.sports/Nike+Men%27s+Home+Game+Jersey+St.+Louis+Rams+Aaron+Donald+%2399
1344,1345,59,Nike Men's Home Game Jersey St. Louis Rams Gr,None,100.00,http://images.acmesports.sports/Nike+Men%27s+Home+Game+Jersey+St.+Louis+Rams+Greg+Robinson...

In [11]:
df_products['product_description'] =df_products['product_description'].fillna('', inplace=True)

In [8]:
df_products['product_description'].value_counts()

Series([], Name: product_description, dtype: int64)

In [13]:
objConMysql.load_data_chemy(df_products  ,db_tbl_name)

products