In [1]:
import pandas as pd
import glob
from IPython.display import HTML
import numpy as np
#.reset_index(drop = True)
import sys
import matplotlib.pyplot as plt
#import seaborn as sns
#%matplotlib inline 
pd.options.display.max_colwidth = None
from Clases.ConnMysql import ConnectMySQL
from Clases.CatalogUtility import CatalogUtility
from dotenv import load_dotenv
import os
#%run /ProyectoTx/examenkavak/Clases/ConnMysql.py

In [2]:
%run /ProyectoTx/examenkavak/Clases/ConnMysql.py
%run /ProyectoTx/examenkavak/Clases/Catalogue.py
%run /ProyectoTx/examenkavak/Clases/CatalogUtility.py

In [3]:
path_work  =  os.getcwd()
load_dotenv( os.path.join( path_work ,'Clases/envs.txt' ) )

host       =  os.getenv('HOST_MYSQL')
bd    =  os.getenv('DB_MYSQL')
user       =  os.getenv('USER_MYSQL')
password   =  os.getenv('PASSWORD_MYSQL')
port       =  os.getenv('PORT_MYSQL')

objConMysql = ConnectMySQL( host, bd, user, password, port )

192.168.200.6 dw_qqprm root 3310 root mysql+mysqlconnector://root:root@192.168.200.6:3310/dw_qqprm

### Lectura  de datos al data werehouse QQPM

In [4]:
### Consultar Tabla PRODUCTO OPC1

In [5]:
#q = """ SELECT 
#    p.PRODUCTO,
#    cat.CATEGORIA, 
#    ctl.CATALOGO,
#    p.PRECIO,
#    p.FECHA_REGISTRO,
#    p.ID_COMERCIAL
#FROM 
#    PRODUCTO as p
#INNER JOIN CATEGORIA as cat ON p.ID_CATEGORIA = cat.ID_CATEGORIA
#INNER JOIN CATALOGO as ctl ON p.ID_CATALOGO = ctl.ID_CATALOGO
#"""
#search_query = q
#objConMysql.set_query(search_query )
#objConMysql.get_query()

In [6]:
#%%time
#df_tbl_producto_dos = objConMysql.extract_data_all(batch_size=5000)

### Consultar Tabla PRODUCTO

In [7]:
q = """ SELECT 
    PRODUCTO,
    ID_CATEGORIA,
    ID_CATALOGO,
    PRECIO,
    FECHA_REGISTRO,
    ID_COMERCIAL
FROM 
    PRODUCTO
"""
search_query = q
objConMysql.set_query(search_query )
objConMysql.get_query()

' SELECT \n    PRODUCTO,\n    ID_CATEGORIA,\n    ID_CATALOGO,\n    PRECIO,\n    FECHA_REGISTRO,\n    ID_COMERCIAL\nFROM \n    PRODUCTO\n'

In [8]:
%%time
df_tbl_producto = objConMysql.extract_data_all(batch_size=5000)

column_names: ['PRODUCTO', 'ID_CATEGORIA', 'ID_CATALOGO', 'PRECIO', 'FECHA_REGISTRO', 'ID_COMERCIAL']
entro a no rows
rows []
Wall time: 3min 13s

### Consultar Tabla CATEGORIA

In [9]:
q = """ SELECT 
    ID_CATEGORIA,
    CATEGORIA
FROM 
    CATEGORIA
"""
search_query = q
objConMysql.set_query(search_query )
objConMysql.get_query()
df_tbl_categoria = objConMysql.extract_data_all(batch_size=5000)

column_names: ['ID_CATEGORIA', 'CATEGORIA']
entro a no rows
rows []

### Consultar Tabla CATALOGO

In [10]:
q = """ SELECT 
    ID_CATALOGO,
    CATALOGO
FROM 
    CATALOGO
"""
search_query = q
objConMysql.set_query(search_query )
objConMysql.get_query()
df_tbl_catalogo = objConMysql.extract_data_all(batch_size=5000)

column_names: ['ID_CATALOGO', 'CATALOGO']
entro a no rows
rows []

### Obtener valores CATALOGO Y CATEGORIA con base a ID_CATALOGO y ID_CATEGORIA

In [11]:
%%time
merged_df    =  df_tbl_producto.merge(df_tbl_catalogo, on='ID_CATALOGO', how='inner',indicator=True)
df_new_union =  merged_df[merged_df['_merge']=="both"].reset_index(drop=True)
df_new_union =  df_new_union.drop(columns=['ID_CATALOGO'])
df_new_union =  df_new_union.drop(columns=['_merge'])

Wall time: 8.24 s

In [12]:
%%time
merged_df = df_new_union.merge(df_tbl_categoria, on='ID_CATEGORIA', how='inner',indicator=True)
df_new_union = merged_df[merged_df['_merge']=="both"].reset_index(drop=True)
df_new_union =  df_new_union.drop(columns=['ID_CATEGORIA'])
df_new_union =  df_new_union.drop(columns=['_merge'])

Wall time: 9.43 s

### Consultar la tabla COMERCIAL con los valores correspondientes a sus llaves foraneas

In [13]:
df_new_union.head(10)

        PRODUCTO PRECIO FECHA_REGISTRO  ID_COMERCIAL CATALOGO     CATEGORIA
0  SUEROS ORALES  28.50     2023-01-05             1  BASICOS  MEDICAMENTOS
1  SUEROS ORALES  28.50     2023-01-12             1  BASICOS  MEDICAMENTOS
2  SUEROS ORALES  28.50     2023-01-19             1  BASICOS  MEDICAMENTOS
3  SUEROS ORALES  28.50     2023-01-26             1  BASICOS  MEDICAMENTOS
4  SUEROS ORALES  28.00     2023-02-02             1  BASICOS  MEDICAMENTOS
5  SUEROS ORALES  28.50     2023-02-09             1  BASICOS  MEDICAMENTOS
6  SUEROS ORALES  28.50     2023-02-16             1  BASICOS  MEDICAMENTOS
7  SUEROS ORALES  28.50     2023-02-23             1  BASICOS  MEDICAMENTOS
8  SUEROS ORALES  31.00     2023-03-02             1  BASICOS  MEDICAMENTOS
9  SUEROS ORALES  31.00     2023-03-09             1  BASICOS  MEDICAMENTOS

In [14]:
q = """ SELECT
    co.ID_COMERCIAL,
    co.COMERCIAL,
    co.DIRECCION,
    mu.MUNICIPIO,
    es.ESTADO,
    cad.CADENACOMERCIAL
FROM 
    COMERCIAL as co
INNER JOIN MUNICIPIO AS mu ON co.ID_MUNICIPIO = mu.ID_MUNICIPIO
INNER JOIN CADENACOMERCIAL AS cad ON cad.ID_CADENACOMERCIAL = co.ID_CADENACOMERCIAL
INNER JOIN ESTADO AS es ON mu.ID_ESTADO = es.ID_ESTADO;
"""
search_query = q
objConMysql.set_query(search_query )
objConMysql.get_query()

' SELECT\n    co.ID_COMERCIAL,\n    co.COMERCIAL,\n    co.DIRECCION,\n    mu.MUNICIPIO,\n    es.ESTADO,\n    cad.CADENACOMERCIAL\nFROM \n    COMERCIAL as co\nINNER JOIN MUNICIPIO AS mu ON co.ID_MUNICIPIO = mu.ID_MUNICIPIO\nINNER JOIN CADENACOMERCIAL AS cad ON cad.ID_CADENACOMERCIAL = co.ID_CADENACOMERCIAL\nINNER JOIN ESTADO AS es ON mu.ID_ESTADO = es.ID_ESTADO;\n'

In [15]:
%%time
df_tbl_comercial = objConMysql.extract_data_all(batch_size=5000)

column_names: ['ID_COMERCIAL', 'COMERCIAL', 'DIRECCION', 'MUNICIPIO', 'ESTADO', 'CADENACOMERCIAL']
entro a no rows
rows []
Wall time: 703 ms

### Obtener valores de la COMERCIAL con base a ID_COMERCIAL

In [16]:
%%time
merged_df = df_new_union.merge(df_tbl_comercial, on='ID_COMERCIAL', how='inner',indicator=True)
df_new_union = merged_df[merged_df['_merge']=="both"].reset_index(drop=True)
df_new_union =  df_new_union.drop(columns=['ID_COMERCIAL'])
df_new_union =  df_new_union.drop(columns=['_merge'])

Wall time: 11.1 s

In [17]:
df_new_union.dtypes

PRODUCTO           object
PRECIO             object
FECHA_REGISTRO     object
CATALOGO           object
CATEGORIA          object
COMERCIAL          object
DIRECCION          object
MUNICIPIO          object
ESTADO             object
CADENACOMERCIAL    object
dtype: object

In [18]:
#df_new_union =  df_new_union.drop(columns=['ANO_REGISTRO','MES_REGISTRO','DIA_REGISTRO','SEMANA_REGISTRO','TRIMESTRE_REGISTRO'])

In [19]:
df_new_union['PRECIO'] = df_new_union['PRECIO'].astype(float)

In [20]:
df_dim_fecha_unique = df_new_union[["FECHA_REGISTRO"]].drop_duplicates().reset_index(drop=True)

In [21]:
#separar df_fecha y hacer unique y luego crear todo lo d eabajo en vez de a todo el dataframe

In [22]:
# Convertir la columna FECHA_REGISTRO a formato datetime si aún no está en ese formato
df_dim_fecha_unique['FECHA_REGISTRO'] = pd.to_datetime(df_dim_fecha_unique['FECHA_REGISTRO'])
# Obtener el año, mes, día, semana y trimestre y almacenarlos en columnas separadas
df_dim_fecha_unique['ANO_REGISTRO'] = df_dim_fecha_unique['FECHA_REGISTRO'].dt.year
df_dim_fecha_unique['MES_REGISTRO'] = df_dim_fecha_unique['FECHA_REGISTRO'].dt.month
df_dim_fecha_unique['DIA_REGISTRO'] = df_dim_fecha_unique['FECHA_REGISTRO'].dt.day
df_dim_fecha_unique['SEMANA_REGISTRO'] = df_dim_fecha_unique['FECHA_REGISTRO'].dt.isocalendar().week
df_dim_fecha_unique['TRIMESTRE_REGISTRO'] = df_dim_fecha_unique['FECHA_REGISTRO'].dt.quarter
df_dim_fecha_unique['FECHA_REGISTRO'] = pd.to_datetime(df_dim_fecha_unique['FECHA_REGISTRO']).dt.strftime('%Y-%m-%d')

In [23]:
df_dim_fecha_unique.shape

(147, 6)

In [24]:
df_dim_fecha_unique.dtypes

FECHA_REGISTRO        object
ANO_REGISTRO           int64
MES_REGISTRO           int64
DIA_REGISTRO           int64
SEMANA_REGISTRO       UInt32
TRIMESTRE_REGISTRO     int64
dtype: object

In [25]:
df_dim_fecha_unique

,FECHA_REGISTRO,ANO_REGISTRO,MES_REGISTRO,DIA_REGISTRO,SEMANA_REGISTRO,TRIMESTRE_REGISTRO
0,2023-01-05,2023,1,5,1,1
1,2023-01-12,2023,1,12,2,1
2,2023-01-19,2023,1,19,3,1
3,2023-01-26,2023,1,26,4,1
4,2023-02-02,2023,2,2,5,1
...,...,...,...,...,...,...
142,2023-02-21,2023,2,21,8,1
143,2023-07-14,2023,7,14,28,3
144,2023-07-11,2023,7,11,28,3
145,2023-02-11,2023,2,11,6,1
146,2023-07-02,2023,7,2,26,3

In [26]:
objConMysql_olap = ConnectMySQL( host, 'db_olap', user, password, port )

192.168.200.6 db_olap root 3310 root mysql+mysqlconnector://root:root@192.168.200.6:3310/db_olap

In [27]:
lista_culumns_cat   =  ['DIM_FECHA']
dic_columns_id      =  {"df_DIM_FECHA":["FECHA_REGISTRO","ANO_REGISTRO","MES_REGISTRO","DIA_REGISTRO","SEMANA_REGISTRO","TRIMESTRE_REGISTRO"]}
dic_columns_vs_cat  =  {"df_DIM_FECHA":["DIM_FECHA"]}
dic_columns_cat     =  {"df_DIM_FECHA":["ID_DIM_FECHA","FECHA_REGISTRO","ANO_REGISTRO","MES_REGISTRO","DIA_REGISTRO","SEMANA_REGISTRO","TRIMESTRE_REGISTRO"]}
objCat              =  CatalogUtility( objConMysql_olap,  lista_culumns_cat,  dic_columns_id,  dic_columns_vs_cat,  dic_columns_cat  )
objCat._update(df_dim_fecha_unique)

['DIM_FECHA']
{'df_DIM_FECHA': ['FECHA_REGISTRO', 'ANO_REGISTRO', 'MES_REGISTRO', 'DIA_REGISTRO', 'SEMANA_REGISTRO', 'TRIMESTRE_REGISTRO']}
{'df_DIM_FECHA': ['DIM_FECHA']}
{'df_DIM_FECHA': ['ID_DIM_FECHA', 'FECHA_REGISTRO', 'ANO_REGISTRO', 'MES_REGISTRO', 'DIA_REGISTRO', 'SEMANA_REGISTRO', 'TRIMESTRE_REGISTRO']}
FECHA_REGISTRO        object
ANO_REGISTRO           int64
MES_REGISTRO           int64
DIA_REGISTRO           int64
SEMANA_REGISTRO       UInt32
TRIMESTRE_REGISTRO     int64
dtype: object
clave DIM_FECHA ....valor:     FECHA_REGISTRO  ANO_REGISTRO  MES_REGISTRO  DIA_REGISTRO  SEMANA_REGISTRO  \
0       2023-01-02          2023             1             2                1
1       2023-01-03          2023             1             3                1
2       2023-01-04          2023             1             4                1
3       2023-01-05          2023             1             5                1
4       2023-01-06          2023             1             6                1
..             ...           ...           ...           ...              ...
142     2023-07-25          2023             7            25               30
143     2023-07-26          2023             7            26               30
144     2023-07-27          2023             7            27               30
145     2023-07-28          2023             7            28               30
146     2023-07-31          2023             7            31               31

     TRIMESTRE_REGISTRO
0                     1
1                     1
2                     1
3                     1
4                     1
..                  ...
142                   3
143                   3
144                   3
145                   3
146                   3

[147 rows x 6 columns] tipovalor: <class 'pandas.core.frame.DataFrame'>
imprimiendo dic_dfs_cat_result: {'df_DIM_FECHA':     FECHA_REGISTRO  ANO_REGISTRO  MES_REGISTRO  DIA_REGISTRO  SEMANA_REGISTRO  \
0       2023-01-02          2023             1             2                1
1       2023-01-03          2023             1             3                1
2       2023-01-04          2023             1             4                1
3       2023-01-05          2023             1             5                1
4       2023-01-06          2023             1             6                1
..             ...           ...           ...           ...              ...
142     2023-07-25          2023             7            25               30
143     2023-07-26          2023             7            26               30
144     2023-07-27          2023             7            27               30
145     2023-07-28          2023             7            28               30
146     2023-07-31          2023             7            31               31

     TRIMESTRE_REGISTRO
0                     1
1                     1
2                     1
3                     1
4                     1
..                  ...
142                   3
143                   3
144                   3
145                   3
146                   3

[147 rows x 6 columns]}
tipo de dato name_cat es una:  <class 'list'>
query: Select ID_DIM_FECHA,FECHA_REGISTRO,ANO_REGISTRO,MES_REGISTRO,DIA_REGISTRO,SEMANA_REGISTRO,TRIMESTRE_REGISTRO from DIM_FECHA;
column_names: ['ID_DIM_FECHA', 'FECHA_REGISTRO', 'ANO_REGISTRO', 'MES_REGISTRO', 'DIA_REGISTRO', 'SEMANA_REGISTRO', 'TRIMESTRE_REGISTRO']
entro a no rows
rows []
<class 'pandas.core.frame.DataFrame'>
(0, 7)

'df_result'

Empty DataFrame
Columns: [ID_DIM_FECHA, FECHA_REGISTRO, ANO_REGISTRO, MES_REGISTRO, DIA_REGISTRO, SEMANA_REGISTRO, TRIMESTRE_REGISTRO]
Index: []

longitud: 0

,FECHA_REGISTRO,ANO_REGISTRO,MES_REGISTRO,DIA_REGISTRO,SEMANA_REGISTRO,TRIMESTRE_REGISTRO
0,2023-01-02,2023,1,2,1,1

name_df None
Actualizar catalogo ['DIM_FECHA'] referente a columas ['FECHA_REGISTRO', 'ANO_REGISTRO', 'MES_REGISTRO', 'DIA_REGISTRO', 'SEMANA_REGISTRO', 'TRIMESTRE_REGISTRO']
El df 'df_DIM_FECHA' existe y su columna union es: ['FECHA_REGISTRO', 'ANO_REGISTRO', 'MES_REGISTRO', 'DIA_REGISTRO', 'SEMANA_REGISTRO', 'TRIMESTRE_REGISTRO'] y su valor es Empty DataFrame
Columns: [ID_DIM_FECHA, FECHA_REGISTRO, ANO_REGISTRO, MES_REGISTRO, DIA_REGISTRO, SEMANA_REGISTRO, TRIMESTRE_REGISTRO]
Index: []

,FECHA_REGISTRO,ANO_REGISTRO,MES_REGISTRO,DIA_REGISTRO,SEMANA_REGISTRO,TRIMESTRE_REGISTRO
0,2023-01-02,2023,1,2,1,1

Actualizando la tabla catalogo DIM_FECHA referente a columas ['FECHA_REGISTRO', 'ANO_REGISTRO', 'MES_REGISTRO', 'DIA_REGISTRO', 'SEMANA_REGISTRO', 'TRIMESTRE_REGISTRO']
El df 'df_DIM_FECHA' existe y su columna es: ['FECHA_REGISTRO', 'ANO_REGISTRO', 'MES_REGISTRO', 'DIA_REGISTRO', 'SEMANA_REGISTRO', 'TRIMESTRE_REGISTRO'] y su valor es   FECHA_REGISTRO  ANO_REGISTRO  MES_REGISTRO  DIA_REGISTRO  SEMANA_REGISTRO  \
0     2023-01-02          2023             1             2                1

   TRIMESTRE_REGISTRO
0                   1
DIM_FECHA

In [28]:
lista_culumns_cat   =  ['JOIN'] # columnas de mi dataframe reult al que hay que sacar los valores unicos
dic_columns_id      =  {"df_JOIN":["FECHA_REGISTRO"]} # columnas id para hacer mach
dic_columns_vs_cat  =  {"df_JOIN":["DIM_FECHA"]} # para ver de que tbla viene el dataframe
dic_columns_cat     =  {"df_JOIN":["ID_DIM_FECHA","FECHA_REGISTRO"]} # para la consulta

In [29]:
q = """ SELECT ID_DIM_FECHA,FECHA_REGISTRO FROM DIM_FECHA"""

search_query = q
objConMysql_olap.set_query(search_query )
objConMysql_olap.get_query()
df_tbl_dim_fecha = objConMysql_olap.extract_data_all(batch_size=10000)

column_names: ['ID_DIM_FECHA', 'FECHA_REGISTRO']
entro a no rows
rows []

In [30]:
df_tbl_dim_fecha

     ID_DIM_FECHA FECHA_REGISTRO
0               1     2023-01-02
1               2     2023-01-03
2               3     2023-01-04
3               4     2023-01-05
4               5     2023-01-06
..            ...            ...
142           143     2023-07-25
143           144     2023-07-26
144           145     2023-07-27
145           146     2023-07-28
146           147     2023-07-31

[147 rows x 2 columns]

In [31]:
df_new_union.head(10)

,PRODUCTO,PRECIO,FECHA_REGISTRO,CATALOGO,CATEGORIA,COMERCIAL,DIRECCION,MUNICIPIO,ESTADO,CADENACOMERCIAL
0,SUEROS ORALES,28.5,2023-01-05,BASICOS,MEDICAMENTOS,7 ELEVEN,"ATLIXCO 165, ESQ. ALFONSO REYES, COL. HIPODROMO CONDESA, CP. 06170",CUAUHTÉMOC,CIUDAD DE MÉXICO,7 ELEVEN
1,SUEROS ORALES,28.5,2023-01-12,BASICOS,MEDICAMENTOS,7 ELEVEN,"ATLIXCO 165, ESQ. ALFONSO REYES, COL. HIPODROMO CONDESA, CP. 06170",CUAUHTÉMOC,CIUDAD DE MÉXICO,7 ELEVEN
2,SUEROS ORALES,28.5,2023-01-19,BASICOS,MEDICAMENTOS,7 ELEVEN,"ATLIXCO 165, ESQ. ALFONSO REYES, COL. HIPODROMO CONDESA, CP. 06170",CUAUHTÉMOC,CIUDAD DE MÉXICO,7 ELEVEN
3,SUEROS ORALES,28.5,2023-01-26,BASICOS,MEDICAMENTOS,7 ELEVEN,"ATLIXCO 165, ESQ. ALFONSO REYES, COL. HIPODROMO CONDESA, CP. 06170",CUAUHTÉMOC,CIUDAD DE MÉXICO,7 ELEVEN
4,SUEROS ORALES,28.0,2023-02-02,BASICOS,MEDICAMENTOS,7 ELEVEN,"ATLIXCO 165, ESQ. ALFONSO REYES, COL. HIPODROMO CONDESA, CP. 06170",CUAUHTÉMOC,CIUDAD DE MÉXICO,7 ELEVEN
5,SUEROS ORALES,28.5,2023-02-09,BASICOS,MEDICAMENTOS,7 ELEVEN,"ATLIXCO 165, ESQ. ALFONSO REYES, COL. HIPODROMO CONDESA, CP. 06170",CUAUHTÉMOC,CIUDAD DE MÉXICO,7 ELEVEN
6,SUEROS ORALES,28.5,2023-02-16,BASICOS,MEDICAMENTOS,7 ELEVEN,"ATLIXCO 165, ESQ. ALFONSO REYES, COL. HIPODROMO CONDESA, CP. 06170",CUAUHTÉMOC,CIUDAD DE MÉXICO,7 ELEVEN
7,SUEROS ORALES,28.5,2023-02-23,BASICOS,MEDICAMENTOS,7 ELEVEN,"ATLIXCO 165, ESQ. ALFONSO REYES, COL. HIPODROMO CONDESA, CP. 06170",CUAUHTÉMOC,CIUDAD DE MÉXICO,7 ELEVEN
8,SUEROS ORALES,31.0,2023-03-02,BASICOS,MEDICAMENTOS,7 ELEVEN,"ATLIXCO 165, ESQ. ALFONSO REYES, COL. HIPODROMO CONDESA, CP. 06170",CUAUHTÉMOC,CIUDAD DE MÉXICO,7 ELEVEN
9,SUEROS ORALES,31.0,2023-03-09,BASICOS,MEDICAMENTOS,7 ELEVEN,"ATLIXCO 165, ESQ. ALFONSO REYES, COL. HIPODROMO CONDESA, CP. 06170",CUAUHTÉMOC,CIUDAD DE MÉXICO,7 ELEVEN

In [32]:
df_tbl_dim_fecha['FECHA_REGISTRO'] = pd.to_datetime(df_tbl_dim_fecha['FECHA_REGISTRO'])
df_new_union['FECHA_REGISTRO'] = pd.to_datetime(df_new_union['FECHA_REGISTRO'])

In [33]:
dic_dfs_cat_up_tab={}
dic_dfs_cat_up_tab["df_JOIN"] =  df_tbl_dim_fecha

In [34]:
df_tbl_dim_fecha.dtypes

ID_DIM_FECHA               int64
FECHA_REGISTRO    datetime64[ns]
dtype: object

In [35]:
objCat2          = CatalogUtility( objConMysql_olap,  lista_culumns_cat,  dic_columns_id,  dic_columns_vs_cat,  dic_columns_cat  )
df_union_ids     = objCat2._update_dataframe_with_ids(df_new_union,dic_dfs_cat_up_tab)

['JOIN']
{'df_JOIN': ['FECHA_REGISTRO']}
{'df_JOIN': ['DIM_FECHA']}
{'df_JOIN': ['ID_DIM_FECHA', 'FECHA_REGISTRO']}

,PRODUCTO,PRECIO,FECHA_REGISTRO,CATALOGO,CATEGORIA,COMERCIAL,DIRECCION,MUNICIPIO,ESTADO,CADENACOMERCIAL
0,SUEROS ORALES,28.5,2023-01-05,BASICOS,MEDICAMENTOS,7 ELEVEN,"ATLIXCO 165, ESQ. ALFONSO REYES, COL. HIPODROMO CONDESA, CP. 06170",CUAUHTÉMOC,CIUDAD DE MÉXICO,7 ELEVEN

Remplazarndo ids del catalogo ['DIM_FECHA']  en el resultado procesado, referente a columas ['FECHA_REGISTRO']
El df 'df_JOIN' existe y su columna union es: ['FECHA_REGISTRO'] y su valor es    ID_DIM_FECHA FECHA_REGISTRO
0             1     2023-01-02

,ID_DIM_FECHA,FECHA_REGISTRO,PRODUCTO,PRECIO,CATALOGO,CATEGORIA,COMERCIAL,DIRECCION,MUNICIPIO,ESTADO,CADENACOMERCIAL,_merge
0,1,2023-01-02,SUEROS ORALES,19.8,BASICOS,MEDICAMENTOS,ABARROTERA SANCHEZ MERCADO SUCURSAL PRIMAVERA,"PRIMAVERA 131, ENTRE ZOZAYA Y PEDRO FUENTES, COL. CENTRO, CP. 86000",CENTRO,TABASCO,ABARROTERA SANCHEZ,both

,ID_DIM_FECHA,FECHA_REGISTRO,PRODUCTO,PRECIO,CATALOGO,CATEGORIA,COMERCIAL,DIRECCION,MUNICIPIO,ESTADO,CADENACOMERCIAL,_merge
0,1,2023-01-02,SUEROS ORALES,19.8,BASICOS,MEDICAMENTOS,ABARROTERA SANCHEZ MERCADO SUCURSAL PRIMAVERA,"PRIMAVERA 131, ENTRE ZOZAYA Y PEDRO FUENTES, COL. CENTRO, CP. 86000",CENTRO,TABASCO,ABARROTERA SANCHEZ,both

no encontrados....mmmmmmmmmmmmmmmmmmmm

Empty DataFrame
Columns: [ID_DIM_FECHA, FECHA_REGISTRO, PRODUCTO, PRECIO, CATALOGO, CATEGORIA, COMERCIAL, DIRECCION, MUNICIPIO, ESTADO, CADENACOMERCIAL, _merge]
Index: []

,ID_DIM_FECHA,PRODUCTO,PRECIO,CATALOGO,CATEGORIA,COMERCIAL,DIRECCION,MUNICIPIO,ESTADO,CADENACOMERCIAL
0,1,SUEROS ORALES,19.8,BASICOS,MEDICAMENTOS,ABARROTERA SANCHEZ MERCADO SUCURSAL PRIMAVERA,"PRIMAVERA 131, ENTRE ZOZAYA Y PEDRO FUENTES, COL. CENTRO, CP. 86000",CENTRO,TABASCO,ABARROTERA SANCHEZ

,ID_DIM_FECHA,PRODUCTO,PRECIO,CATALOGO,CATEGORIA,COMERCIAL,DIRECCION,MUNICIPIO,ESTADO,CADENACOMERCIAL
0,1,SUEROS ORALES,19.8,BASICOS,MEDICAMENTOS,ABARROTERA SANCHEZ MERCADO SUCURSAL PRIMAVERA,"PRIMAVERA 131, ENTRE ZOZAYA Y PEDRO FUENTES, COL. CENTRO, CP. 86000",CENTRO,TABASCO,ABARROTERA SANCHEZ

In [39]:
df_union_ids.columns

Index(['PRODUCTO', 'PRECIO', 'CATALOGO', 'CATEGORIA', 'COMERCIAL', 'DIRECCION',
       'MUNICIPIO', 'ESTADO', 'CADENACOMERCIAL', 'ID_DIM_FECHA'],
      dtype='object')

In [40]:
df_union_ids.dtypes

PRODUCTO            object
PRECIO             float64
CATALOGO            object
CATEGORIA           object
COMERCIAL           object
DIRECCION           object
MUNICIPIO           object
ESTADO              object
CADENACOMERCIAL     object
ID_DIM_FECHA         int64
dtype: object

In [41]:
df_union_ids = df_union_ids[["PRODUCTO","PRECIO","CATALOGO","CATEGORIA","COMERCIAL","DIRECCION","MUNICIPIO","ESTADO","CADENACOMERCIAL","ID_DIM_FECHA"]]

In [42]:
#df_union_ids ['PRECIO'] = df_union_ids['PRECIO'].astype(float)

In [44]:
objConMysql_olap.load_data_chemy_masive(df_union_ids ,'FACT_PRODUCTO')

FACT_PRODUCTO
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 100000
batch: 45162